<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
<body>
    <%- include('nav') %>
    <main class="detail">
      <img src="images/<%= album.img %>" class="albumCover">
  </main>
</body>
</html>