<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('nav') %>
    <h1>Taylor Swift Lyric Search</h1>
    <% for (const album of albums) { %>
      <h2><%= album.title %></h2>
    <% } %>
  </body>
</html>
