<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <main class="albumContainer">
    <!-- <% for (const album of albums) { %>
      <article class="album">
        <a class="albumLink" href="/album/<%= album.id %>">
          <img src="/images/<%= album.img %>" class="albumCover">
        </a>
      </article>
    <% } %> -->
    
  </main>
  </body>
</html>
