<!DOCTYPE html>
<html>
  <%- include('head') %>
  <body>
    <%- include('nav') %>
    <main class="albumContainer">
    <% for (const album of albums) { %>
      <article class="album">
        <a class="albumLink">
          <img src="images/<%= album.img %>" class="albumCover">
        </a>
      </article>
    <% } %>
    
  </main>
  </body>
</html>
