<nav>
    <h1 class="title">Taylor Swift Lyric Search</h1>
    <br>
    <form action="/results" method="GET">
        <input type="search" name="search">
        <button type="submit">
            <img src="/images/search-icon.png" alt="search">
        </button>
    </form>
</nav>