* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c9e8fd;
}

nav {
  display: grid;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
}

form input {
  width: 50%;
  padding: 12px 20px;
  font-family: system-ui;
  border-radius: 0;
  border: 0;
}

form button {
  background: #526d85;
  border: 0;
  width: 45px;
}

form button img {
  height: 25px;
  width: 25px;
}

h1.title {
  font-family: system-ui;
  color: #526d85;
  justify-content: center;
  display: flex;
  margin: 20px 0 0 0;
  font-size: xxx-large;
}

main.albumContainer {
  width: 100vw;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

article.album {
  width: 100%;
}

a.albumLink {
  display: block;
  width: 100%;
  height: 100%
}

img.albumCover {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.albumCover:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

h2.resultsTitle {
  display: flex;
  justify-content: center;
  font-family: system-ui;
  font-size: xx-large;
}

main.results {
  display: grid;
  justify-content: center;
  font-family: system-ui;
  grid-template-columns: 1fr;
}

h3, p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

h3.resultsAmount {
  margin: 0 0 20px 0
}

hr {
  background-color: #526d85;
  height: 1px;
  border: 0;
}

article p.album {
  color: #526d85;
  font-weight: 500;
}

@media only screen and (max-width: 420px) {

  main.albumContainer {
    grid-template-columns: 1fr;
  }

  h1.title {
    font-family: system-ui;
    color: #526d85;
    justify-content: center;
    display: flex;
    margin: 20px 0 0 0;
    font-size: xx-large;
  }

  form input {
    width: 70%;
  }

  h2.resultsTitle {
    font-size: x-large;
  }

}
