* {
  box-sizing: border-box;
  font-family: revert;
}

body {
  margin: 0;
  background-color: #c9e8fd;
}

::placeholder {
  color: #526d85;
  font-size: medium;
}

/* nav */

nav {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 20px;
}

nav section.topNav a {
  display: flex;
}

nav section.topNav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

nav section.topNav div {
  display: flex;
  justify-content: end;
  column-gap: 20px;
  padding-right: 30px;
  margin-top: 20px;
}

nav section.topNav div a button {
  display: grid;
  justify-content: center;
  outline: none;
  align-self: center;
}

nav section.topNav div a:hover {
  text-decoration: none;
}

nav section.topNav div a button {
  background: #526d85;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  padding: 8px;
  height: fit-content;
  outline: none;
}

nav section.bottomNav {
  display: flex;
  justify-content: center;
}

nav form {
  display: flex;
  justify-content: space-evenly;
  width: 35%
}

section.searchBar {
  display: flex;
  justify-content: center;
  width: 70%;
}

form input.searchInput {
  width: 90%;
  padding: 12px 20px;
  font-family: revert;
  border-radius: 0;
  border: 0;
  outline: none;
}

form button {
  background: #526d85;
  border: 0;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

button.filter {
  width: 15%;
  color: white;
  font-size: medium;
  font-weight: 500;
  outline: none;
}

button.filter p {
  margin: 10px
}

form button img {
  height: 25px;
  width: 25px;
}

div.modal-content {
  border-radius: 0px;
  font-family: revert;
}

span.checklistElement label, span.checklistElement input {
  display: inline;
}

form section.checklist {
  display: grid;
  gap: 10px;
}

div.modal-footer button {
  width: 15%;
  border-radius: 0px;
  background-color: #b8acd1;
  border: 0px;
  outline: none;
}

div.modal-footer button:hover {
  background-color: #6e618b;
  outline: none;
}

input[type=checkbox] {
  accent-color: #6e618b;
  border-radius: 0px;
}

h1.title {
  font-family: revert;
  color: #526d85;
  justify-content: center;
  display: flex;
  margin: 20px 0 0 0;
  font-size: xxx-large;
  font-weight: 700;
}

/* register, login */

main.register {
  display: grid;
  justify-content: center;
  align-items: center;
}

main.register form {
  margin-top: 60px;
  display: grid;
  row-gap: 15px;
  background: #8EABC1;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

main.register form button {
  padding: 8px;
  justify-self: center;
  width: 40%;
  margin-top: 18px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}

main.register div {
  display: grid;
  row-gap: 8px;
}

main.register div label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: white;
  font-weight: 500;
}

main.register form input, main.register form input:focus {
  padding: 6px 10px;
  font-family: revert;
  border-radius: 0;
  border: 0;
  font-size: medium;
  background: white;
  outline: none;
}

/* index */

main.albumContainer {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

article.album {
  width: 100%;
}

a.albumLink {
  display: block;
  width: 100%;
  height: 100%
}

img.albumCover {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.albumCover:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

h2.resultsTitle {
  display: flex;
  justify-content: center;
  font-family: revert;
  font-size: xx-large;
  font-weight: 700;
  margin: 27px 0px
}

/* results */

main.results {
  display: grid;
  justify-content: center;
  font-family: revert;
  grid-template-columns: 1fr;
}

a.resultsLink {
  text-decoration: none;
  color: black;
}

h3, p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

main.results p {
  margin: 16px 0px;
}

h3 {
  font-size: large;
  font-weight: 700;
}

h3.resultsAmount {
  margin: 0 0 20px 0
}

h3.songTitle {
  margin: 20px 0px;
}

hr {
  background-color: #526d85;
  height: 1px;
  border: 0;
  margin: 8px 0px;
}

article p.album {
  color: #526d85;
  font-weight: 500;
}

/* detail */

main.detail {
  display: grid;
  grid-template-columns: 1fr;
}

section.albumInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
  width: 50%;
  justify-self: center;
}

div.infoContainer p {
  text-align: left;
  justify-content: left;
  padding: 0;
}

section.tracklist p.songTitle {
  color: black;
}

section.tracklist a {
  text-decoration-color: black;
}

h2.songTitle {
  text-align: center;
  text-align: center;
  font-family: revert;
  margin: 20px;
  font-weight: 700;
}

/* comments */

form.commentForm {
  display: grid;
  row-gap: 10px;
  background: #8EABC1;
  /* padding: 40px; */
  width: 40%;
  /* justify-content: center; */
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #526d85;
  padding: 10px;
}

form.commentForm input.inputComment, form.commentForm input.inputComment:focus {
  padding: 6px 10px;
  font-family: revert;
  border-radius: 0;
  border: 0;
  font-size: medium;
  background: white;
  outline: none;
}

form.commentForm button.submitComment {
  padding: 4px;
  justify-self: center;
  width: 20%;
  /* margin-top: 18px; */
  color: #526d85;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  background: white;
}

section.songComments {
  background: #8EABC1;
  display: grid;
  grid-template-columns: 1fr;
}

h3.commentsTitle {
  text-align: center;
  font-family: revert;
  /* margin: 20px; */
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  color: white;
  font-size: 20px;
}

div.comments {
  display: grid;
  grid-template-columns: 1fr;
  width: 40%;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

div.comments article.comment {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  padding: 10px;
  background: #526d85;
  margin-bottom: 20px;
}

div.comments article.comment p.commentUsername {
  font-weight: 500;
  margin: 0px;
  justify-content: start;
  color: white;
  padding-left: 5px;
}

div.comments article.comment p.commentText {
  justify-content: start;
  margin: 0px;
  color: white;
  padding-left: 5px;
}

/* mobile */

@media only screen and (max-width: 420px) {

  nav section.topNav {
    grid-template-columns: 1fr;
  }

  nav section.topNav div#first {
    display: none;
  }

  nav section.topNav div#last {
    order: -1;
    justify-content: center;
    padding: 0;
  }

  nav section.topNav div {
    justify-content: center;
    padding: 0px;
  }

  nav section.topNav div a button {
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #526D85;
    font-weight: 500;
    /* padding: 8px; */
    /* height: fit-content; */
    outline: none;
    font-size: small;
    width: 50px;
    padding: 0;
  }

  nav section.bottomNav form {
    width: 90%
  }

  main.albumContainer {
    grid-template-columns: 1fr;
  }

  h1.title {
    font-family: revert;
    color: #526d85;
    justify-content: center;
    display: flex;
    margin: 20px 0 0 0;
    font-size: xx-large;
  }

  h2.resultsTitle {
    font-size: x-large;
  }

  section.albumInfo {
    width: 100%;
  }

  div.modal-footer button {
    width: 20%;
  }

  div.comments {
    width: 90%;
  }

  form.commentForm {
    width: 90%;
  }

  form.commentForm button.submitComment {
    width: 30%;
  }

}
